<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Page</title>
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>
    <h1>Страница отзывов</h1>
    <% if (data) { %>
        <p>Имя: <%= data.name %></p>
        <p>Email: <%= data.email %></p>
        <p>Отзыв: <%= data.message %></p>
    <% } else { %>
        <p>No data available</p>
    <% } %>
</body>
</html>