<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Boldova Elina">
    <title>Я - студент НИУ ВШЭ</title>
    <link rel="stylesheet" href="resources/css/style.css"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
    <script>hljs.highlightAll();</script>

</head>
<body>
    <header class="menu">
        <nav>
            <h1>Меню</h1>
            <ol class="list">
                <li><a href="index.html">Обо мне</a></li>
                <li><a href="form.html">Обратная связь</a></li>
            </ol>
        </nav>
    </header>
    <hr class="hr-sloping-lines">
    <main>
        <div>
            <h2>Обо мне</h2>
            <blockquote cite="https://ru.wikipedia.org/wiki/Демиан">Ценность имеют только те мысли, которыми мы живем.<sup><a href="https://ru.wikipedia.org/wiki/Демиан">1</a></sup></blockquote>
            <div class="about-block">
                <article>Моя жизнь состоит из ...
                    <ul>
                        <li><a href="#hse">Учеба в вузе</a></li>
                        <li><a href="#work">Работа разработчиком в Яндексе</a></li>
                        <li><a href="#jap">Изучение японского языка</a></li>
                        <li><a href="#home">Бытовые дела</a></li>
                    </ul>
                </article>
            </div>
        </div>
        <section>
            <h2 id="hse">Учеба в вузе</h2>
            <div class="row">
                <div class="column">
                    <p>
                        Я учусь на 3м курсе факультета прикладная математика в <a href="https://ru.wikipedia.org/wiki/Высшая_школа_экономики"><i>Национальном исследовательском университете «Высшая школа экономики»</i></a>. Учеба состоит из лекций, семинаров, домашних заданий и ежегодных проектов. Учиться, разумеется, очень непросто, поэтому свободного времени на остальные дела почти не остается.
                    </p>
                </div>
                <div class="column">
                    <div class=logo>
                        <img src="resources/img/logo.jpg" alt="Логотип НИУ ВШЭ" width="200" height="200">
                    </div>
                </div>
              </div>
            <figure>
            <table border="1">
                <th>Понедельник</th>
                <th>Вторник</th>
                <th>Среда</th>
                <th>Четверг</th>
                <th>Пятница</th>
            </tr>
            <tr>
                <td>Численные методы</td>
                <td>Проектный семинар</td>
                <td></td>
                <td>Прикладные задачи анализа данных</td>
                <td>Теория случайных процессов</td>
            </tr>
            <tr>
                <td>Численные методы</td>
                <td>Основы веб-программирования</td>
                <td></td>
                <td>Прикладные задачи анализа данных</td>
                <td>Теория случайных процессов</td>
            </tr>
            <tr>
                <td>Теория случайных процессов</td>
                <td>Основы веб-программирования</td>
                <td></td>
                <td></td>
                <td>Компьютерный практикум</td>
            </tr>
            <tr>
                <td>Уравнения математической физики</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Уравнения математической физики</td>
            </tr>
            </table>
            <figcaption>Расписание занятий в университете</figcaption>
        </figure>
        </section>
        <section>
            <h2 id="work">Работа разработчиком в Яндексе</h2>
            <p>
                Вот уже больше года я работаю мобильным разработчиком в Яндексе. Пишу на языке Dart с использованием фреймворка Flutter. Занимаюсь разработкой приложения для поиска быстрой подработки - <a href="https://play.google.com/store/apps/details?id=com.yandex.bluecollars">Яндекс Смена</a>. 
            </p>
            <div class="work-block">
                <img src="resources/img/yandex_smena.png" alt="Яндекс Сменв" height="300">
            </div>
            <figure>
                <pre>
                    <code class="language-html">
                    main() {
                        runApp();
                    }
                  </code>
                </pre>
                <figcaption>Вызываем корневую функцию</figcaption>
              </figure>
        </section>
        <section>
            <h2 id="jap">Изучение японского языка</h2>
            <div class="row">
                <div class="column">
                    <p>Я учу японский язык второй год и в данный момент активно готовлюсь к сдаче экзамена <strong>JLPT N4</strong>.
                        Изучение японского языка требует постоянной практики в чтении, письме, аудировании и разговоре. Для меня изучение иероглифов является самой сложной частью, требующей особого терпения и настойчивости.</p>
                </div>
                <div class="column">
                    <div class=logo></div>
                        <img src="resources/img/kanji.jpg" alt="Кандзи" width="400" height="300">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="box box1">JLPT N3</div>
                <div class="box box2">JLPT N4</div>
                <div class="box box3">JLPT N5</div>
            </div>
        </section>
        <section>
            <aside class="subtitle" style="text-decoration: underline;">Самая важная информация</aside>
            <h2 id="home">Бытовые дела</h2>
            <h4>Ну что тут еще сказать? Все как у всех.</h4>
            <h3><bdo dir="ltr">Уборка</bdo></h3>
            <p style="text-align: right;">Люблю убираться, так как процесс наведения порядка помогает мне чувствоваться себя организованней в остальных сферах жизни. Кроме того чистота создает уют в доме.</p>
            <h2>Другое</h2>
            <figure>
                <svg>
                    <rect x="10" y="10" width="100" height="100"/>
                </svg>
                <figcaption class="subtitle">Черный квадрат</figcaption>
            </figure>
            <h3>Иван Айвазовский</h3>
            <article>
                <div class="row">
                    <div class="column">
                        <figure> 
                            <p><img src="resources/img/waves.jpg" alt="Среди волн" height="400"></p>
                            <figcaption class="subtitle">Среди волн</figcaption>
                        </figure>
                    </div>
                    <div class="column">
                        <figure>
                            <p><img src="resources/img/black_sea.jpg" alt="Черное море" height="400"></p>
                            <figcaption class="subtitle">Вид на Черное море</figcaption>
                        </figure>
                    </div>
                </div>
            </article>
            <p>
            <video height="400" controls>
            <source src="resources/media/chipi.mp4" type="video/mp4">
            Chipi chipi chapa chapa
            </video>
            </p>
            <p>
            <audio controls>
                <source src="resources/media/chipi.mp3" type="audio/mp3">
            Chipi chipi chapa chapa
            </audio>
            </p>
        </section>
        <time datetime="2024-02-20">20 февраля 2024 г.</time>
    </main>

    <footer>&copy; 2024 Болдова Элина. Все права защищены.</footer>
</body>
</html>